@model WebApplication.Models.admin

@{
    ViewBag.Title = "Details";
}

<h2 class="text-center">Подробная информация</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Имя</dt>
        <dd>@Html.DisplayFor(model => model.firstname)</dd>
        <dt>Фамилия</dt>
        <dd>@Html.DisplayFor(model => model.lastname)</dd>
        <dt>Отчество</dt>
        <dd>@Html.DisplayFor(model => model.patronymic)</dd>
        <dt>Должность</dt>
        <dd>@Html.DisplayFor(model => model.position)</dd>
        <dt>Логин</dt>
        <dd>@Html.DisplayFor(model => model.login)</dd>
        <dt>Пароль</dt>
        <dd>@Html.DisplayFor(model => model.password)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Править", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Вернуться к списку", "Index")
</p>
