@model WebApplication.Models.purchase

@{
    ViewBag.Title = "Delete";
}

<h3>Вы уверены, что хотите удалить эту покупку?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.productname)</dt>
        <dd>@Html.DisplayFor(model => model.productname)</dd>
        <dt>@Html.DisplayNameFor(model => model.productprice)</dt>
        <dd>@Html.DisplayFor(model => model.productprice)</dd>
        <dt>@Html.DisplayNameFor(model => model.count)</dt>
        <dd>@Html.DisplayFor(model => model.count)</dd>
        <dt>@Html.DisplayNameFor(model => model.date)</dt>
        <dd>@Html.DisplayFor(model => model.date)</dd>
        <dt>@Html.DisplayNameFor(model => model.client.firstname)</dt>
        <dd>@Html.DisplayFor(model => model.client.firstname)</dd>
        <dt>@Html.DisplayNameFor(model => model.product.name)</dt>
        <dd>@Html.DisplayFor(model => model.product.name)</dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться к списку", "Index")
        </div>
    }
</div>
