@model IEnumerable<WebApplication.Models.purchase>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Покупки</h2>

<p>
    @Html.ActionLink("Сделать покупку", "Create")
</p>

@using (Html.BeginForm("Search", "Purchases", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <div class="col-md-2 text-center">
            <label for="query">
                <input type="text" name="search" class="form-control" />
            </label>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Поиск" class="btn btn-default" />
        </div>
    </div>
}
<table class="table">
    <tr>
        <th>Клиент</th>
        <th>Товар</th>
        <th>Количество</th>
        <th>Дата</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.client.login)</td>
            <td>@Html.DisplayFor(modelItem => item.product.name)</td>
            <td>@Html.DisplayFor(modelItem => item.count)</td>
            <td>@Html.DisplayFor(modelItem => item.date)</td>
            <td>
                @Html.ActionLink("Править", "Edit", new { id = item.id }) |
                @Html.ActionLink("Подробности", "Details", new { id = item.id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
