@model IEnumerable<WebApplication.Models.client>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Клиенты</h2>

<p>
    @Html.ActionLink("Создать клиента", "Create")
</p>
@using (Html.BeginForm("Search", "Clients", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <div class="col-md-2 text-right">
            <label for="query">
                <input type="text" name="search" class="form-control" />
            </label>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Поиск" class="btn btn-default" />
        </div>
    </div>
}
<table class="table">
    <tr>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Отчество</th>
        <th>Почта</th>
        <th>Адрес</th>
        <th>Телефон</th>
        <th>Логин</th>
        <th>Пароль</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.patronymic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                @Html.ActionLink("Править", "Edit", new { id = item.id }) |
                @Html.ActionLink("Детали", "Details", new { id = item.id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>